<h2>Questions!</h2>

<%- if !@questions.empty? -%>
<ul>
    <%- @questions.each do |question| -%>
          <li>
          <%= link_to question.body,
            '/questions/' + question.to_param%>
          </li>
    <%- end -%>
  </ul>
  <%= link_to "Submit a question",
    new_question_path%>
<%- end -%>
